      body {
        text-align: center;
        margin: 1px;
        font-family: monospace;
        width : 300px;
        src:"unsafe-inline";
        font-family: sans-serif !important;
        border:solid #f4f3f3;
      }
      input {
        background-color: rgb(254, 253, 253);
        margin-left: 5px;
        margin-bottom: 10px;;
        font-size: 18px;
        padding: 10px;
        border-radius: 50px;;
        border: none;
        outline: none;
        text-align: center;
        box-shadow: 1px 2px 2px #ccc;
      }
      .out{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: justify;
        font-weight: 200;
        font-size: medium;
        margin:5px;
      }
      ::placeholder{
        opacity: 0.5;
      }
      button {
        background-color: white;
        margin:5px;
        border-radius: 20px;
        box-shadow: 0px 1px 0px 1px #ccc;
        font-size: 20px;
        padding: 6px;
        border:none;
      }
      button:active {
      box-shadow: 0 1px #666;
      transform: translateY(2px);
     }
     h1{
       color:rgb(0, 132, 255);
       text-shadow: 1px 2px 1px rgb(238, 237, 237);
     }
